<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuibu.module.activity"
    android:installLocation = "preferExternal"
    android:versionCode="1"
    android:versionName="Alpha 1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />
     
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />  	    
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
	
    <application
        android:name="com.kuibu.data.global.KuibuApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Kuibu.AppTheme.Light" >
        <activity
            android:name="com.kuibu.module.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/SplashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kuibu.model.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
			android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="com.kuibu.module.activity.KuibuMainActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            
            <meta-data
            	android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
			<intent-filter>
    			<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
        
        <activity
            android:name="com.kuibu.module.activity.RegisterActivity"
            android:label="@string/register_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        
        <activity
            android:name="com.kuibu.module.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
        </activity>
                
        <activity 
            android:configChanges="orientation|screenSize"           
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" 
            android:label="@string/app_name" />
                        
        <activity
            android:name="com.kuibu.module.activity.UserInfoEditActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
        </activity>         
            	    
        <activity 
            android:name="com.kuibu.module.activity.CommentActivity"
            android:label="@string/comment_text"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        
        <activity
            android:name="com.kuibu.module.activity.CollectionDetailActivity"
            android:hardwareAccelerated="true"
          	android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">;			
        </activity>
        
        <activity
            android:name="com.kuibu.module.activity.CollectPackListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
       	</activity>
       	<activity
       	    android:name="com.kuibu.module.activity.TopicMaterialActivity"
       	    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">       	    
       	</activity>
       	<activity
       	    android:name="com.kuibu.module.activity.CollectionEditorActivity"
       	    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">      	    	    
       	</activity>
       	<activity
       	    android:windowSoftInputMode="adjustResize"
       	    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
       	    android:name="com.kuibu.module.activity.CollectionImageActivity">      	    	    
       	</activity>
       	<activity
       	    android:name="com.kuibu.module.activity.CollectionImageDetailActivity"
       	    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">      	    	    
       	</activity>
       	
       	<activity android:name="com.kuibu.module.activity.PreviewActivity"
       	    android:hardwareAccelerated="true"
            android:label="@string/preview"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kuibu.module.activity.OperCollectPackActivity"
            android:label="@string/create_new_cpack"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">			
		</activity>
		<activity android:name="com.kuibu.module.activity.CollectionListActivity"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">    
		</activity>
        <activity 
        	android:name="com.kuibu.module.activity.LocalCollectionWListActivity"
        	android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">    
        </activity>
        <activity 
        	android:name="com.kuibu.module.activity.LocalCollectionPListActivity"
        	android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">    
        </activity>
        <activity
            android:name ="com.kuibu.module.activity.CollectInfoListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">     
        </activity>
        <activity
            android:name = "com.kuibu.module.activity.TopicListActivity"
            android:label="@string/topic_text"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">           
        </activity>
        <activity
            android:name = "com.kuibu.module.activity.TopicInfoActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		</activity>
		
        <activity
            android:name="com.kuibu.module.activity.CollectFavoriteBoxActivity"
         	android:label="@string/choose_favoritebox"
         	android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		</activity>
		<activity
            android:name="com.kuibu.module.activity.FavoriteBoxActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		</activity>
		<activity 
			android:name="com.kuibu.module.activity.FavoriteBoxDetailActivity"
			android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">		    
		</activity>
		
		<activity 
			android:name="com.kuibu.module.activity.SelectImageActivity"
			android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">		    
		</activity>
		
		<activity 
			android:name="com.kuibu.module.activity.FavoriteBoxInfoActivity"
			android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">		    
		</activity>
		
		<activity
		    android:name="com.kuibu.module.activity.UserTopicListActivity"
		    android:label="@string/focus_topics"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		</activity>
		<activity
		    android:name="com.kuibu.module.activity.UserListActivity"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		</activity>	
		<activity 
		    android:name="com.kuibu.module.activity.SettingsActivity"
		    android:label="@string/settings"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		</activity>
		<activity
		    android:name="com.kuibu.module.activity.SearchViewActivity"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		 </activity>
		 <activity 
		     android:name=".SendMessageActivity"
		   	 android:label="@string/private_letter"
		   	 android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">		     
		 </activity>   
		 <activity 
		     android:name=".NotifyMessageActivity"
		     android:label="@string/message"
		     android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">		     
		 </activity>
		 
		 <activity
		     android:name=".MDHandBookActivity"
		 	 android:label="@string/handbook"
		 	 android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">   
		 </activity>
		 <activity
		     android:name=".ImageDetailActivity"
		     android:label="@string/look_at"
		     android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		 </activity>
		
		 <activity
		     android:name=".ImagePreviewActivity"
		     android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		 </activity>
		 
		 <activity
		     android:name=".ReportActivity"
		     android:label="@string/report"
		     android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
		 </activity>
		 
		<activity 
		    android:name=".AdviceFeedBackActivity"
		    android:label="@string/preference_feedback"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"> 
		</activity>
		 
    </application> 
</manifest>
